body::-webkit-scrollbar {
    display: none;
    }
    
    
    body, a {
      font-family: 'Poppins', sans-serif;
    }

    /* h1, h2, h3, h4, h5, h6{
        font-family: 'Inter', sans-serif;
    } */

    /* underline hover effect */
    .hover-underline-animation {
      display: inline-block;
      position: relative;
    }

    .hover-underline-animation::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #1A2653;
      transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
      transform: scaleX(1);
    }

    .hover-underline-animation.center::after {
      transform-origin: bottom center;
    }

    .hover-underline-animation.center:hover::after {
      transform-origin: bottom center;
    }

    /* CSS */
    .button-54 {
      font-family: "Source Code Pro", sans-serif;
      font-size: 12px;
      color: #000;
      cursor: pointer;
      border: 3px solid;
      box-shadow: 0px 0px 0px 0px , 0px 0px 0px 0px, 0px 0px 0px 0px, 0px 0px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .button-54:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }

    @media (min-width: 768px) {
      .button-54 {
        padding: 0.25em 0.75em;
      }
    }